@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin-top: 40px;
}
body {
  background-color: #3a3a3a;
}
.table-container {
  margin-top: 10%;
}
.life-container {
  width: 100px;
  margin: auto;
}
.life {
  transition: 0.3s;
}
img {
  width: 30px;
}

.btn-container {
  width: 200px;
  margin: auto;
}

.restartBtn {
  background-color: #c3c3c3;
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid gray;
  transition: 0.2s;
  text-align: center;
  line-height: 45px;
}
.restartBtn:hover {
  background-color: rgb(255, 255, 255);
}
.board {
  text-align: center;
  table-layout: fixed;
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: auto;
}
.cell {
  background-color: #c3c3c3;
  width: 40px;
  height: 40px;
  /* border-radius: 5px; */
  /* border: 2px solid rgba(255, 255, 255, 0.76); */
  transition: 0.2s;
}
.cell:hover {
  background-color: rgb(255, 255, 255);
}
/* .btn {
} */

footer {
  color: white;
  margin-top: 40px;
  text-align: center;
}
.active {
  background-color: rgb(255, 99, 99);
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.grow {
  transform: scaleX(1.2);
}
.pop {
  opacity: 0;
}
